# postgresql
POSTGRES_PORT=EXAMPLE_PORT
POSTGRES_HOST=EXAMPLE_HOST
POSTGRES_PASSWORD=EXAMPLE_PASSWORD
POSTGRES_USER=EXAMPLE_USER
POSTGRES_DB=EXAMPLE_DB

# redis

REDIS_PORT=EXAMPLE_PORT
REDIS_HOST=EXAMPLE_HOST
REDIS_PASSWORD=EXAMPLE_PASSWORD
REDIS_USER=EXAMPLE_USER
REDIS_DB=EXAMPLE_DB